*{
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    height: 500px;
    background-image: url("../medias/surfbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
}

.textJumbotron{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.card-deck{
    margin: 0 5em 0 5em;
}

.corps{
    margin-right: 12em;
    margin-left: 12em;
}